<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="SQLServer" connectionString="Data Source=SERVERNAME;Initial Catalog=UNIVERSE;Integrated Security=True;Connection Timeout=30;" />
	</connectionStrings>
	<appSettings>
		<add key="LogLevel" value="INFO" />
		<add key="ExecutionTime" value="02:00" />
		<add key="RetryAttempts" value="3" />
		<add key="RetryDelaySeconds" value="60" />
		<add key="Che00" value="\\Zeta_ged\E\Prog ACIM JOUANIN\Codes BE\Données" />
		<add key="Che01" value="\\Zeta_ged\E\FICHES MERES" />
		<add key="Che02" value="\\Zeta_ged\E\FICHES MERES\`DOCS METHODES" />
		<add key="Che03" value="\\Zeta_ged\E\FICHES MERES\`FICHES MODIFS" />
		<add key="Che04" value="\\Zeta_ged\E\FICHES MERES\`NOMENCLATURES" />
		<add key="Che05" value="\\Zeta_ged\E\FICHES MERES\`PLANS ET DOCS" />
		<add key="Che08" value="\\Ing_be\c\GRAFIT\DXFS" />
		<add key="Che09" value="\\Jetcam\C\Newjc\geo2" />
		<add key="Che14" value="\\zeta_ged\e\FICHES MERES\`DOCS METHODES" />
		<add key="Che15" value="\\Txlinux\samba\marque" />
		<add key="Che16" value="\\Zeta_ged\E\FICHES MERES\`PHOTOS" />
	</appSettings>
</configuration>